body {
    margin: 0;
}
#main-page {
    position: absolute;
    width: 100%;
    z-index: 11;
}
.welcome-main-container {
    height: 75vh;
    color: white;
}
.title-container {
    display: flex;
    height: 40%;
    align-items: flex-end;
    padding-left: 10%;
}
.title {
    position: relative;
    font-size: 7vw;
    width: 75%;
    text-shadow: 2px 2px 5px black;
}
.title:after {
    position: absolute;
    content: 'The best way to set the mood';
    font-size: 2vw;
    font-family: helvetica;
    font-style: italic;
    left: 29px;
    bottom: -16px;
}
.weather-box {
    align-self: flex-start;
    padding: 25px;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}
.weather-temp {
    font-size: 4vw;
    margin: 15% 0 0 0;
}
.weather-location {
    font-size: 1.2rem;
    margin: 0;
}
.time-container {
    display: flex;
    height: 50%;
    justify-content: center;
}
.js-clock {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.clock, .greeting, .mood-text {
    color: white;
    text-shadow: 2px 2px 5px black;
}
.clock {
    font-size: 8vw;
    margin: 0;
}
.greeting {
    font-size: 4vw;
    font-weight: bold;
    margin: 0;
}
.button-header-container {
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
}
.mood-text {
    font-family: Times;
    font-size: 5vw;
    margin: 0;
}
.mood-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}
.mood-button-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 50%;
}
.mood-button {
    width: 15%;
    background-color: beige;
    font-size: 2.2vw;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
    transition: .3s;
}
.mood-button:hover {
    cursor: pointer;
    transform: translateY(-10px);
}
#content-page {
    display: none;
}
.header-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 20vh;
    background: linear-gradient(to right, navy, white);
    z-index: 10;
}
.header-container h1 {
    margin: 0;
    color: white;
    font-size: 3.5em;
    padding-top: 1%;
    padding-left: 5%;
    text-shadow: 1px 1px 5px black;
}
.header-container h3 {
    position: absolute;
    top: 10%;
    right: 3%;
    font-size: 1.5em;
}
.current-mood {
    margin-right: 8px;
    color: firebrick;
}
.change-mood {
    color: blue;
    font-size: .8em;
    text-decoration: underline;
}
.change-mood:hover {
    color: lightblue;
    cursor: pointer;
}
.header-container .menu {
    display: flex;
    justify-content: space-around;
    justify-self: flex-end;
    margin: 12px 0 0;
    padding: 0;
}
.menu li {
    list-style-type: none;
    width: 25%;
    text-align: center;
    border-right:  2px solid black;
}
.menu li:last-child {
    border-right: 0;
}
.menu a {
    display: block;
    padding: 10px;
    color: black;
    font-size: 1.5em;
    background: linear-gradient(white, gray);
}
.menu a:hover {
    color: white;
    background: linear-gradient(gray, white);
}
.section-container {
    position: relative;
    top: 20vh;
}
.section-header {
    display: flex;
    height: 10vh;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.section-header h3 {
    margin: auto;
}
.section-1::before, .section-2::before, .section-3::before, .section-4::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(0, 0, 0, .5);
}
.section-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    min-height: 70vh;
    background-color: firebrick;
}
.section-2 {
    flex-direction: column-reverse;
}
.loading-text, .poem-title {
    color: white;
}
.poem-title-container {
    display: none;
}
.poem-title {
    font-size: 2.5rem;
    letter-spacing: 2px;
}
.poem-text {
    font-size: 1.3rem;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
}
#poem-content-container {
    display: none;
    width: 75%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: unset;
    box-shadow: 0 0 5px burlywood;
}
#news-content-container, #news-article-container {
    max-width: 75%;
    color: white;
    /* background-color: white; */
}
.news-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.news-list li {
    font-family: Arial Narrow;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px gray;
    margin-bottom: 15px;
    padding-left: 5px;
    border-left: 2px solid red;
    transition: .3s;
}
.news-list li:hover {
    cursor: pointer;
    color: yellow;
    border-left-width: 15px;
}
#news-article-container {
    display: none;
}
.article-image-container, .article-title-container, .article-content-container {
    display: flex;
    justify-content: center;
}
.article-image {
    width: 30%;
}
.article-title {
    font-size: 1.5em;
}
.article-content-container {
    width: 60%;
    margin: auto;
}
.article-content {
    font-size: 1.4em;
}
.back-button-container {
    position: absolute;
    left: 5%;
    top: 15%;
    font-size: 1.2em;
}
.article-back-button, .read-article-button {
    padding: 15px;
    border: 1px solid white;
}
.article-back-button:hover, .read-article-button:hover {
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
    color: black;
}
.read-article-button-container {
    width: 25%;
    margin: auto;
    font-size: 1.2em;
    text-align: center;
}
.video-container, #news-content-container, .poem-title-container,
 #news-article-container, #gif-content-container, #poem-content-container {
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    /* MAIN PAGE  */
    .mood-button-container {
        height: 65%;
        width: 90%;
        flex-wrap: wrap;
    }
    .mood-button {
        width: 30%;
        margin-bottom: 5px;
        font-size: 3vw;
    }

    /* CONTENT PAGE */
    .header-container h1 {
        font-size: 10vw;
        margin: 0 auto 0 auto;
    }
    .header-container h3 {
        position: relative;
        font-size: 4vw;
        margin: 0 auto 0 auto;
    }
    .menu a {
        font-size: 4vw;
        text-decoration: none;
    }
}

@media screen and (max-width: 700px) {
    .title-container {
        padding: 0;
    }
    .title {
        width: auto;
        margin: auto;
        font-size: 17vw;
    }
    .title:after {
        display:none;
        font-size: 1.5rem;
        left: 100px;
    }
    .weather-box {
        display: none;
    }
    .clock {
        font-size: 6em;
    }
    .mood-text {
        font-size: 8vw;
    }
    .mood-button {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 550px) {
    .clock {
        font-size: 18vw;
    }
    .greeting {
        font-size: 10vw;
    }
}

@media screen and (max-width: 400px) {
    .welcome-main-container {
        height: 70vh;
    }
    .title {
        font-size: 20vw;
    }
    .js-clock {
        justify-content: center;
    }
    .mood-bar {
        height: 30vh;
    }
    .mood-button-container {
        height: 90%;
    }
    .mood-button {
        width: 45%;
        font-size: 6.5vw;
    }
    .mood-text {
        font-size: 10vw;
    }
}